.item {
    width: 30vh;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    padding: 3vh;
    margin: 3vh;
    border-radius: 3vh;
}

@media only screen and (max-width: 800px) {
    .item {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}