.title {
    color: white;
    text-align: center;
    font-size: 10vh;
    font-family: 'lato';
    background-image: url('./../../pictures/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    padding: 2vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.carousel {
    width: 50%;
}

.root {
    overflow: hidden;
    scroll-snap-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.quote-section {
    background-color: rgb(102, 0, 0);
    color: white;
    padding: 5vh;
}

.section-one {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }

    .carousel {
        display: none;
    }
}