.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrap {
    width: 50%;
    padding: 5vh;
}

@media only screen and (max-width: 800px) {
    .form-wrap {
        width: 100%;
    }
}