.root {
    display: flex;
    width: 100%;
}

.carousel {
    height: 50vh;
    margin: 5vh;
    padding: 10vh;
    background-color: rgb(109, 0, 0);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.root img {
    border-radius: 20px;
    height: 100%;
}

.pic {
    
}

.animate {
    animation: slide-in .3s ease-in;
}

@keyframes slide-in {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media only screen and (max-width: 800px) {
    .root {
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    .carousel {
        margin: 3vh;
        height: 30vh;
    }

    .carousel img {
    }
}