.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vh;
    padding: 3vh;
    text-align: center;
}

.left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.root {
    height: 90vh;
    display: flex;
}

.image-wrap {
    height: 100%;
}

.root img {
    height: 100%;
}

@media only screen and (max-width: 800px) {
    .root {
        width: 100%;
        height: auto;
        align-items: center;
    }

    .wrap {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .image-wrap {
        display: none;
    }
}