.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    /* border-radius: 3vh; */
    font-size: 2.4vh;
    font-family: 'Avenir';
    width: 100%;
    color: white;
    border-bottom: solid 1px white;
}

.wrap {
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 0;
}

.title {
    width: 33.33%;
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 3vh;
    text-align: left;
}

.price {
    width: 33.33%;
    text-align: center;
    text-align: center;
}

.quantity {
    text-align: center;
}

.section {
    width: 33.3%;
}

.middle-section {
    width: 33.3%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mid-wrap {
    display: flex;
    justify-content: flex-end;
    /* width: 50%; */
}

.half-section {
    width: 60%;
}