.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    /* border-radius: 3vh; */
    font-size: 2.4vh;
    font-family: 'Avenir';
    width: 100%;
    color: white;
    border-bottom: solid 1px white;
}

.title {
    width: 33.33%;
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 3vh;
    text-align: left;
}

.price {
    width: 33.33%;
    text-align: center;
    text-align: right;
}

.quantity {
    color: white;
    position: relative;
}