.item {
    border: 2px solid black;
    height: 50vh;
    border-radius: 2vh;
    background-image: url('./../../../pictures/teachers/Jingyi.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30vh;
    box-shadow: 5px 5px 20px black;
    color: white;
}

.item:hover {
    animation: hover .3s ease-in;
    opacity: .7;
    color: black;
}

.title {
    text-align: center;
    font-family: 'montserrat';
    font-size: 6vh;
}

@keyframes hover {
    from {
        opacity: 1;
        color: white;
    }
    to {
        opacity: .7;
        color: black;
    }
}